{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
</head>
<body>
    {% block body %}
<!-- ================================= new Blogs title are added here ====================================== -->
    <div2 class="list-group list-group-flush" px=20>
        <style>
            div2 {
              padding-top: 10px;
              padding-right: 1150px;
              padding-left: 20px;
            }
            </style>    

            <a type="button" class="list-group-item list-group-item-action" href="b1">The current button</a>
            <a type="button" href="b2" class="list-group-item list-group-item-action">A second item</a>
            <a type="button" href="b3" class="list-group-item list-group-item-action">A third button item</a>
            <a type="button" href="b4" class="list-group-item list-group-item-action">A fourth button item</a>
            <a type="button" href="b5" class="list-group-item list-group-item-action">A disabled button item</a>
<!-- ================================= end of blog adding component ==========================================-->
          </div>
<!-- ================================= blogs are displayed here ==============================================-->
          <disp class="container">
              <style>
                    disp{
                            padding-top: -50px;
                            padding-right: 30px;
                            padding-bottom: 50px;
                            padding-left: 1500px;
                            background-color:grey;
                        }
                </style>
            {% block blogDisp %}{% endblock blogDisp %}
          </disp>
<!-- ========================================================================================================= -->
    {% endblock body %}    
</body>
</html>

