{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{context}}</title>
</head>
<body>
    
    {% block body %}
    <style>
        .form-cc{
            color: tomato;
            padding-top:5%;
            width: 60%;
            padding-left: 10%;
            padding-right: 10%;
        }
    </style>
    <div class="form-cc" >
        <h1 class="text-center"> feedback</h1>
        <form method="POST" action="/feedback">
         {% csrf_token %}
            <div class="form-group">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="   ">
            </div>
            
            <div class="form-group">
                <label for="feedback" class="form-label">Enter your query</label>
                <textarea class="form-control" id="feedback" name="feedback" rows="3"></textarea>
            </div>
            <button class="btn btn-primary" type="submit">submit</button>
        </form>
          
    
    </div>
    {% endblock body %}

</body>
</html>